fieldset{ max-width: 300px;
    border: 1px solid rgba(245, 245, 245, 0);
    width: 400px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #0d8def; */
  }
  
  form
  {
      text-align: center;
  }
fieldset>textarea{width:100%}
fieldset>button{float:center}

.hidden{
  display:none;
}
body.show-notifications{
  overflow:hidden;
}
body.show-notifications #divNotificationArea{
  display:flex;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  position:fixed;
  background-color:#0009;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  text-align: center;
}
#divNotificationArea{
  display:none;
  
}
.dialogBody{
  padding:0 20px;
  display:block;
  background-color:white;
  min-width:300px;
  max-width:400px;
  width:100%;
  min-height:50%;
  text-align: center;
}
